Repository jamedeus/micropython-smarthome: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_frontend, test_cli, build, deploy

test_frontend:
  stage: test_frontend
  tags:
  - arm64
  script:
  - pip3 install pipenv
  - export PATH=$PATH:/home/gitlab-runner/.local/bin
  - pipenv install
  - cd frontend/
  - pipenv run coverage run --source='.' --omit='*manage.py,*wsgi.py,*asgi.py,*/tests.py,*unit_test_helpers.py,*/migrations/*.py' manage.py test
  ...

test_cli:
  stage: test_cli
  tags:
  - arm64
  script:
  - pip3 install pipenv
  - export PATH=$PATH:/home/gitlab-runner/.local/bin
  - pipenv install
  - cd CLI/
  - pipenv run coverage run --omit='tests/*' -m unittest discover tests/
  - pipenv run coverage report -m --precision=1
  coverage: /TOTAL.*\s+(\d+\.\d+\%)$/

build:
  stage: build
  tags:
  - arm64
  script:
  - export IMAGE_NAME="micropython-smarthome"
  - 'export LAST_TAG=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep "^${IMAGE_NAME}:[0-9]*\.[0-9]*$" | sort --version-sort | tail -n 1 | cut -d\: -f 2)'
  ...

deploy:
  stage: deploy
  tags:
  - arm64
  script:
  - export IMAGE_NAME="micropython-smarthome"
  - 'export LAST_TAG=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep "^${IMAGE_NAME}:[0-9]*\.[0-9]*$" | sort --version-sort | tail -n 1 | cut -d\: -f 2)'
  ...

Bug fix: reset_config_template now clears schedule rules, update unit test
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
Due: test_cli

Move instance_validator tests from node_configuration to CLI, add tests for lines previously covered elsewhere in node_configuration tests
  CLI/tests/test_instance_validators.py
  frontend/node_configuration/tests.py
Due: test_frontend, test_cli, build, deploy

Bug fix: No longer possible to add multiple thermostats, add regression test
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
Due: test_cli

Pre-commit hook: update desktop integration zip when files modified
  hooks/pre-commit
Due: none

Add option to configure ir_blaster, add unit test
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
Due: test_cli

Schedule rule prompt now supports keywords, update unit tests
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
Due: test_cli

Add MinLength validator to prevent entering empty strings, add unit test
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
Due: test_cli

Prevent empty device/sensor nickname, add NicknameValidator for more helpful error messages. Update unit tests.
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
Due: test_cli

Move ir_blaster_options and lists of valid device/sensor endpoints to validation_constants
  frontend/node_configuration/get_api_target_menu_options.py
  util/validation_constants.py
Due: test_frontend, test_cli, build, deploy

Add basic support for ApiTarget rules (limited validation)
  CLI/config_generator.py
Due: test_cli

Provision script now automatically adds newly-uploaded configs to nodes.json, update unit test
  CLI/provision.py
  CLI/tests/test_provision.py
Due: test_cli

Add unit tests for ApiTarget rule prompt
  CLI/tests/test_config_generator.py
Due: test_cli

ApiTarget options now generated from contents of nodes.json + config file of target node. Dramatically reduces scenarios where entering invalid config is possible. Update unit tests.
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
  util/helper_functions.py
Due: test_frontend, test_cli, build, deploy

Bug fix: No longer crashes if nodes.json does not exist, fix failing unit tests
  util/helper_functions.py
Due: test_frontend, test_cli, build, deploy

Add project files to manifest.py, remove copy_repo function from build script
  firmware/build.sh
  firmware/manifest.py
Due: none

Create mock testing environment (work in progress) to run hardware-level unit tests on CPython for coverage measurement
  mock_test_environment/mocks/machine.py
  mock_test_environment/mocks/si7021.py
  mock_test_environment/mocks/uasyncio.py
  mock_test_environment/mocks/urequests.py
  mock_test_environment/readme.md
  mock_test_environment/runtests.py
Due: none

Update instance test syntax for compatibility with both micropython and cpython. No regressions on micropython, all pass.
  tests/test_device_apitarget.py
  tests/test_device_desktop_target.py
  tests/test_device_dumbrelay.py
  tests/test_device_irblaster.py
  tests/test_device_ledstrip.py
  tests/test_device_mosfet.py
  tests/test_device_relay.py
  tests/test_device_tplink.py
  tests/test_device_wled.py
  tests/test_sensor_desktop_trigger.py
  tests/test_sensor_dummy.py
  tests/test_sensor_motionsensor.py
  tests/test_sensor_switch.py
  tests/test_sensor_thermostat.py
Due: none

Add mock IR driver, add mock time.sleep_ms, fix bug in mock machine.Pin
  mock_test_environment/mocks/ir_tx.py
  mock_test_environment/mocks/machine.py
  mock_test_environment/readme.md
  mock_test_environment/runtests.py
Due: none

Add mocks required by Config module
  mock_test_environment/mocks/gc.py
  mock_test_environment/mocks/machine.py
  mock_test_environment/mocks/network.py
  mock_test_environment/readme.md
Due: none

Add mock webrepl module, add missing WLAN.ifconfig method. Mocks now sufficient to run all tests.
  mock_test_environment/mocks/network.py
  mock_test_environment/mocks/webrepl.py
  mock_test_environment/readme.md
Due: none

Update config, api tests for compatibility with both micropython and CPython test environment
  tests/test_api_api.py
  tests/test_core_config.py
Due: none

Improve test script, no longer requires source files in same dir. Tests can be run by symlinking tests/test_* to same dir as script. 52.9% coverage with currently-passing tests (10 failing 25 errors)
  mock_test_environment/runtests.py
Due: none

Bug fixes: machine.Timer more closely simulates real hardware timer, fixes failing Config test. No longer prevents test script from exiting. Timer.deinit no longer permanently breaks timer.
  mock_test_environment/mocks/machine.py
Due: none

Fix ambiguous group lookup causing test to fail in mock environment (list order differs depending on python implementation)
  tests/test_core_main_loop.py
Due: none

Fix issues causing test failure in cpython, no regressions in micropython
  core/Config.py
  core/SoftwareTimer.py
Due: none

Fix cpython runtime error due to dict changing during iteration, no regressions on micropython
  devices/Device.py
  sensors/Sensor.py
Due: none

Update syntax for compatibility with cpython test environment, remove unneeded loop in run method
  core/Api.py
Due: none

API unit tests now run in CPython test environment, all test suites now complete without crashing (not yet passing)
  Pipfile
  Pipfile.lock
  mock_test_environment/runtests.py
  tests/test_api_api.py
Due: test_frontend, test_cli, build, deploy

Replace __dir__ methods with alphabetically-sorted test names to control execution order. Micropython executes in __dir__ order but cpython does not, resulting in incorrect failures.
  tests/test_device_apitarget.py
  tests/test_device_desktop_target.py
  tests/test_device_dumbrelay.py
  tests/test_device_irblaster.py
  tests/test_device_ledstrip.py
  tests/test_device_mosfet.py
  tests/test_device_relay.py
  tests/test_device_tplink.py
  tests/test_device_wled.py
  tests/test_sensor_desktop_trigger.py
  tests/test_sensor_dummy.py
  tests/test_sensor_motionsensor.py
  tests/test_sensor_switch.py
  tests/test_sensor_thermostat.py
Due: none

Bug fix: Api invalid command message no longer hangs in CPython test environment, no regression in micropython
  core/Api.py
Due: none

Add mock logging module, allow clear_log endpoint to run in CPython test environment
  mock_test_environment/mocks/mock_logging.py
  mock_test_environment/runtests.py
Due: none

Add mock config file for save_rules, save_schedule_keywords tests. Add 500ms startup delay for API backend, prevents failed connection on first test.
  mock_test_environment/runtests.py
Due: none

Bug fix: devices and sensors no longer instantiate in reverse-alphabetical order, resulting in unintuitive group numbers (ie sensor1 in group2, sensor2 in group1)
  core/Config.py
  tests/test_api_api.py
Due: none

Enforce consistent execution order between micropython and cpython, all tests now passing
  tests/test_api_api.py
Due: none

Improve MotionSensor test coverage
  tests/test_sensor_motionsensor.py
Due: none

Improve Thermostat comments, add missing unit tests, 100% coverage
  sensors/Thermostat.py
  tests/test_sensor_thermostat.py
Due: none

Work in progress: Add flask daemon to simulate Relay + Wled API endpoints, allows testing without real hardware targets
  mock_test_environment/mock_command_receiver.py
Due: none

Add unit tests for DimmableLight base class
  tests/test_device_dimmablelight.py
Due: none

Bug fix: Workaround to avoid assertNotIn (not implemented in micropython)
  tests/test_device_dimmablelight.py
  tests/test_sensor_motionsensor.py
Due: none

Improve API unit test coverage
  tests/test_api_api.py
Due: none

Path conditions:
  test_frontend: any of: frontend/**/*, util/**/*, Pipfile
  test_cli: any of: CLI/**/*, util/**/*, Pipfile
  build: any of: frontend/**/*, util/**/*, Pipfile
  deploy: any of: frontend/**/*, util/**/*, Pipfile
