Repository jamedeus/micropython-smarthome: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_frontend, test_cli, build, deploy

test_frontend:
  stage: test_frontend
  tags:
  - arm64
  script:
  - pip3 install pipenv
  - export PATH=$PATH:/home/gitlab-runner/.local/bin
  - pipenv install
  - cd frontend/
  - pipenv run coverage run --source='.' --omit='*manage.py,*wsgi.py,*asgi.py,*/tests.py,*unit_test_helpers.py,*/migrations/*.py' manage.py test
  ...

test_cli:
  stage: test_cli
  tags:
  - arm64
  script:
  - pip3 install pipenv
  - export PATH=$PATH:/home/gitlab-runner/.local/bin
  - pipenv install
  - cd CLI/
  - pipenv run coverage run --omit='tests/*' -m unittest discover tests/
  - pipenv run coverage report -m --precision=1
  coverage: /TOTAL.*\s+(\d+\.\d+\%)$/

build:
  stage: build
  tags:
  - arm64
  script:
  - export IMAGE_NAME="micropython-smarthome"
  - 'export LAST_TAG=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep "^${IMAGE_NAME}:[0-9]*\.[0-9]*$" | sort --version-sort | tail -n 1 | cut -d\: -f 2)'
  ...

deploy:
  stage: deploy
  tags:
  - arm64
  script:
  - export IMAGE_NAME="micropython-smarthome"
  - 'export LAST_TAG=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep "^${IMAGE_NAME}:[0-9]*\.[0-9]*$" | sort --version-sort | tail -n 1 | cut -d\: -f 2)'
  ...

Add missed unit test for 7f54a04b
  CLI/tests/test_api_client.py
Due: test_cli

Migration: Add min/max_bright attributes to all existing configs
  frontend/node_configuration/migrations/0012_add_min_max_bright_attributes.py
Due: test_frontend, build, deploy

Move min/max brightness inputs into collapse, add default values (faster setup, defaults rarely changed)
  frontend/node_configuration/static/node_configuration/add-instance.js
  frontend/node_configuration/static/node_configuration/classes.js
  frontend/node_configuration/static/node_configuration/style.css
  frontend/node_configuration/static/node_configuration/style.css.map
  frontend/node_configuration/style.scss
  frontend/node_configuration/templates/node_configuration/edit-config.html
  frontend/node_configuration/tests.py
  frontend/webapp/serviceworker.js
Due: test_frontend, build, deploy

Firmware flash script now gets latest release by version number (alphabetical breaks at 0.9), add optional 2nd arg to flash older releases
  firmware/flash.sh
Due: none

Bug fix: Git tags now sorted by version rather than lexically, no longer breaks at 0.9
  hooks/post-commit
Due: none

Bug fix: Correct invalid arguments in example usage message (incorrect since 566d1311, now requires 2 hyphens)
  CLI/provision.py
Due: test_cli

Fix ambiguous setup script name (setup.py looks like package)
  core/_boot.py
  core/wifi_setup.py
Due: none

Post-commit release hook no longer creates duplicate pipeline (second attempt, see 6cff0345)
  .gitlab-ci.yml
Due: none

Bug fix: Move IR codes to python module (json not compiled to bytecode)
  CLI/provision.py
  devices/IrBlaster.py
  lib/ir_codes.py
  lib/samsung-codes.json
  lib/whynter-codes.json
Due: test_cli

Move get_modules to util/, imported by both frontend and CLI tools (reduce code duplication)
  CLI/provision.py
  frontend/node_configuration/tests.py
  frontend/node_configuration/views.py
  util/get_modules.py
Due: test_frontend, test_cli, build, deploy

Refactor business logic from init into separate methods
  CLI/provision.py
Due: test_cli

Move status messages to Webrepl.put_file methods, reduce divergence between frontend and CLI provision methods
  CLI/provision.py
  util/Webrepl.py
Due: test_frontend, test_cli, build, deploy

Modules returned by get_modules now include core dependencies, simplify provisioning functions
  CLI/provision.py
  frontend/node_configuration/tests.py
  frontend/node_configuration/views.py
  util/get_modules.py
Due: test_frontend, test_cli, build, deploy

Bug fix: --test option now uploads unit_test_main.py (instead of main.py), improve readability
  CLI/provision.py
Due: test_cli

Move provision function to utils/get_modules, imported by both django and CLI provision script (reduce code duplication)
  CLI/provision.py
  frontend/node_configuration/tests.py
  frontend/node_configuration/unit_test_helpers.py
  frontend/node_configuration/views.py
  util/get_modules.py
Due: test_frontend, test_cli, build, deploy

Rename get_modules to provision_tools, improve comments
  CLI/provision.py
  frontend/node_configuration/views.py
  util/provision_tools.py
Due: test_frontend, test_cli, build, deploy

Refactor: Move parse_args, validate_ip, nodes.json, etc out of class (separation of concerns, simplify unit testing)
  CLI/provision.py
Due: test_cli

Add unit tests for provision script, remove outdated tests
  CLI/tests/test_provision.py
  tests/client_test_provision.py
Due: test_cli

Generate binary_unit_test_config from unit-test-config.json on disk (reduce divergence, improve maintainability). Remove unused import, extra whitespace.
  frontend/node_configuration/templates/node_configuration/edit-config.html
  frontend/node_configuration/tests.py
  frontend/node_configuration/unit_test_helpers.py
Due: test_frontend, build, deploy

Add unit tests for Webrepl class
  CLI/tests/test_webrepl.py
  CLI/tests/unit-test-config.json
Due: test_cli

Add coverage for provision_tools functions
  CLI/tests/test_provision.py
Due: test_cli

Bug fix: Run all unit tests on every commit (avoids coverage: unknown badges)
  .gitlab-ci.yml
Due: none

Bug fix: get_schedule_keywords_dict now queries django database when frontend endpoints called (instead of CLI json file)
  frontend/api/views.py
  frontend/frontend/settings.py
  frontend/node_configuration/models.py
  frontend/node_configuration/views.py
  util/helper_functions.py
Due: test_frontend, test_cli, build, deploy

Bug fix: Frontend no longer fails to send device pin parameters to backend, correctly removes ir_blaster checkbox inputs from payload
  frontend/node_configuration/static/node_configuration/classes.js
  frontend/webapp/serviceworker.js
Due: test_frontend, build, deploy

Frontend final device/sensor config objects with frontend-only params removed (id, new, modified). Remove clearParams method, now part of getParams.
  frontend/node_configuration/static/node_configuration/add-instance.js
  frontend/node_configuration/static/node_configuration/apiTargetOptions.js
  frontend/node_configuration/static/node_configuration/classes.js
  frontend/node_configuration/static/node_configuration/page-buttons.js
  frontend/node_configuration/static/node_configuration/submit.js
  frontend/node_configuration/static/node_configuration/validate.js
  frontend/node_configuration/unit-test-config.json
  frontend/node_configuration/unit_test_helpers.py
  frontend/node_configuration/views.py
  frontend/webapp/serviceworker.js
Due: test_frontend, build, deploy

Flatten config object returned by frontend (remove "devices" and "sensors" sections), simplify backend processing.
  frontend/node_configuration/static/node_configuration/submit.js
  frontend/node_configuration/tests.py
  frontend/node_configuration/unit_test_helpers.py
  frontend/node_configuration/views.py
  frontend/webapp/serviceworker.js
Due: test_frontend, build, deploy

Minor readability refactor
  frontend/node_configuration/static/node_configuration/add-instance.js
  frontend/node_configuration/static/node_configuration/classes.js
  frontend/node_configuration/templates/node_configuration/edit-config.html
  frontend/webapp/serviceworker.js
Due: test_frontend, build, deploy

Device and Sensor classes now inherit most methods from Instance parent class
  frontend/node_configuration/static/node_configuration/classes.js
  frontend/webapp/serviceworker.js
Due: test_frontend, build, deploy

Bug fix: edit_config context keys now sorted alphabetically, prevent IDs on webpage not matching config file
  frontend/node_configuration/tests.py
  frontend/node_configuration/views.py
Due: test_frontend, build, deploy

Bug fix: No longer fails to show unable-to-connect page in certain scenarios
  frontend/api/tests.py
  frontend/api/views.py
Due: test_frontend, build, deploy

Bug fix: Edit config template correctly pre-populates self-targeting api-target instance, rule modal now shows all self-target instances
  frontend/node_configuration/get_api_target_menu_options.py
Due: test_frontend, build, deploy

Fix failing unit tests
  frontend/api/unit_test_helpers.py
  frontend/node_configuration/tests.py
  frontend/node_configuration/unit_test_helpers.py
Due: test_frontend, build, deploy

Add regression test for bug fixed in 069e6b29
  frontend/node_configuration/tests.py
Due: test_frontend, build, deploy

Bug fix: Frontend no longer throws error when attempting to delete config that does not exist on disk, add regression test
  frontend/node_configuration/tests.py
  frontend/node_configuration/views.py
Due: test_frontend, build, deploy

Add custom management commands to import config files from disk to database, export config files from database to disk
  frontend/node_configuration/management/__init__.py
  frontend/node_configuration/management/commands/__init__.py
  frontend/node_configuration/management/commands/export_configs_to_disk.py
  frontend/node_configuration/management/commands/import_configs_from_disk.py
  frontend/node_configuration/tests.py
Due: test_frontend, build, deploy

Bug fix: DimmableLight subclasses no longer crash if rule changed to enabled/disabled while fade in progress. Add regression tests.
  devices/DimmableLight.py
  tests/test_device_ledstrip.py
  tests/test_device_tplink.py
  tests/test_device_wled.py
Due: none

Bug fixes (increment_rule endpoint): No longer crashes when target instance not found. No longer crashes when increment amount is float. Add missing unit tests.
  core/Api.py
  tests/test_api_api.py
Due: none

Move increment_rule logic to class methods (DimmableLight, MotionSensor, Thermostat), remove increment_int_rule and increment_float_rule API helper functions
  core/Api.py
  devices/DimmableLight.py
  sensors/MotionSensor.py
  sensors/Thermostat.py
Due: none

Firmware: Add manifest.py, remove unittest module from version control
  firmware/build.sh
  firmware/manifest.py
  lib/unittest/__init__.py
Due: none

Path conditions:
  test_frontend: any of: frontend/**/*, util/**/*, Pipfile
  test_cli: any of: CLI/**/*, util/**/*, Pipfile
  build: any of: frontend/**/*, util/**/*, Pipfile
  deploy: any of: frontend/**/*, util/**/*, Pipfile
