Repository jamedeus/micropython-smarthome: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test_frontend, test_cli, build, deploy

test_frontend:
  stage: test_frontend
  tags:
  - arm64
  script:
  - pip3 install pipenv
  - export PATH=$PATH:/home/gitlab-runner/.local/bin
  - pipenv install
  - cd frontend/
  - pipenv run coverage run --source='.' --omit='*manage.py,*wsgi.py,*asgi.py,*/tests.py,*unit_test_helpers.py,*/migrations/*.py' manage.py test
  ...

test_cli:
  stage: test_cli
  tags:
  - arm64
  script:
  - pip3 install pipenv
  - export PATH=$PATH:/home/gitlab-runner/.local/bin
  - pipenv install
  - cd CLI/
  - pipenv run coverage run --omit='tests/*' -m unittest discover tests/
  - pipenv run coverage report -m --precision=1
  coverage: /TOTAL.*\s+(\d+\.\d+\%)$/

build:
  stage: build
  tags:
  - arm64
  script:
  - export IMAGE_NAME="micropython-smarthome"
  - 'export LAST_TAG=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep "^${IMAGE_NAME}:[0-9]*\.[0-9]*$" | sort --version-sort | tail -n 1 | cut -d\: -f 2)'
  ...

deploy:
  stage: deploy
  tags:
  - arm64
  script:
  - export IMAGE_NAME="micropython-smarthome"
  - 'export LAST_TAG=$(docker images --format "{{.Repository}}:{{.Tag}}" | grep "^${IMAGE_NAME}:[0-9]*\.[0-9]*$" | sort --version-sort | tail -n 1 | cut -d\: -f 2)'
  ...

Move boilerplate code (get device/sensor instance, throw error for missing args) to decorator methods. Significantly simplifies endpoints, improves readability and maintainability.
  core/Api.py
  firmware/manifest.py
Due: none

Move get_attributes logic to Device and Sensor parent class methods
  core/Api.py
  devices/Device.py
  sensors/Sensor.py
Due: none

Add get_attributes test for each device and sensor type, verify full response object
  tests/test_device_apitarget.py
  tests/test_device_desktop_target.py
  tests/test_device_dumbrelay.py
  tests/test_device_ledstrip.py
  tests/test_device_mosfet.py
  tests/test_device_relay.py
  tests/test_device_tplink.py
  tests/test_device_wled.py
  tests/test_sensor_desktop_trigger.py
  tests/test_sensor_dummy.py
  tests/test_sensor_motionsensor.py
  tests/test_sensor_switch.py
  tests/test_sensor_thermostat.py
Due: none

Client-side API endpoints now stored in endpoint_map dict, looked up by index. More efficient than iterating list for match.
  CLI/api_client.py
  frontend/api/views.py
  util/api_endpoints.py
Due: test_frontend, test_cli, build, deploy

Use f-strings throughout, fix inconsistent error message format
  core/Api.py
  tests/test_api_api.py
Due: none

Move boilerplate param length check to requires_params decorator, improve readability and maintainability
  util/api_endpoints.py
Due: test_frontend, test_cli, build, deploy

Move boilerplate is_device/sensor/both checks to decorator functions, improve readability and maintainability
  util/api_endpoints.py
Due: test_frontend, test_cli, build, deploy

Improve ir endpoint readability, add missing unit test for full coverage
  CLI/tests/test_api_client.py
  util/api_endpoints.py
Due: test_frontend, test_cli, build, deploy

Build script: checkout known-working micropython commit (build fails on current commit)
  firmware/build.sh
Due: none

Regression fix: Correctly updates schedule keywords on all nodes when edited from overview page, broken since 854d2fe6
  frontend/node_configuration/tests.py
  frontend/node_configuration/views.py
Due: test_frontend, build, deploy

Bug fix: Restore config submit button now correctly enables when input valid
  frontend/node_configuration/templates/node_configuration/overview.html
Due: test_frontend, build, deploy

Fix outdated device and sensor templates
  CLI/config_generator.py
Due: test_cli

Rewrite with questionary, now generates full config with metadata, wifi, and arbitrary number of device and sensor sections
  CLI/config_generator.py
Due: test_cli

Default rules now support integer, "On", and "Off" where appropriate. Validate integer rules, min/max brightness with limits based on device/sensor type.
  CLI/config_generator.py
Due: test_cli

Bug fix: No longer breaks when adding multiple devices/sensors of same type
  CLI/config_generator.py
Due: test_cli

Prompt user to select targets for each sensor after adding devices and sensors
  CLI/config_generator.py
Due: test_cli

Prompt user to add schedule rules for each device and sensor
  CLI/config_generator.py
Due: test_cli

Refactor into class, reduce need to pass objects back and forth between functions
  CLI/config_generator.py
Due: test_cli

Prevent duplicate nicknames and pins
  CLI/config_generator.py
Due: test_cli

Default and schedule rule prompts now enforce min/max_bright for dimmable devices. Add default values for min/max prompts.
  CLI/config_generator.py
Due: test_cli

Bug fix: No longer crashes at target selection if config contains sensors but no devices
  CLI/config_generator.py
Due: test_cli

Reduce code duplication: Move config templates, valid pins, etc to new util.validation_constants (imported by CLI and django). Move config_generator type checking validators to helper_functions.
  CLI/config_generator.py
  frontend/node_configuration/views.py
  util/helper_functions.py
  util/validation_constants.py
Due: test_frontend, test_cli, build, deploy

Bug fix: Prevent setting max_bright lower than min_bright (results in prompt that rejects all input, in addition to being invalid)
  CLI/config_generator.py
Due: test_cli

Bug fix: add_endpoint decorator no longer removes reference to decorated function from namespace
  frontend/node_configuration/views.py
  util/api_endpoints.py
Due: test_frontend, test_cli, build, deploy

Bug fix: Validators now correctly reject enabled/disabled default_rule for certain instance types. Refactor to allow different validator functions for default/scheduled rules.
  frontend/node_configuration/validators.py
Due: test_frontend, build, deploy

Add regression test for bug fixed in c79864a9, update tests for compatibility with refactor. && git push
  frontend/node_configuration/tests.py
Due: test_frontend, build, deploy

Bug fix: Tplink and Wled validators now use min_bright, max_bright attributes rather than hardcoded limits. Add regression test.
  frontend/node_configuration/tests.py
  frontend/node_configuration/validators.py
Due: test_frontend, build, deploy

Bug fix: Tplink/WLED now reject min_bright greater than max_bright. All validators that read kwargs now catch error if required param missing. Add regression tests.
  frontend/node_configuration/tests.py
  frontend/node_configuration/validators.py
Due: test_frontend, build, deploy

Add missing questionary dependency to env
  Pipfile
  Pipfile.lock
Due: test_frontend, test_cli, build, deploy

Move node_configuration.validators -> util.instance_validators, imported by both django and CLI tools
  frontend/node_configuration/tests.py
  frontend/node_configuration/views.py
  util/instance_validators.py
Due: test_frontend, test_cli, build, deploy

CLI config generator now checks each device and sensor section with appropriate validator. Prompt is repeated after failed validation with most options pre-selected.
  CLI/config_generator.py
Due: test_cli

Remove invalid default rule options (enabled+disabled for many device and sensor types), add FloatRange validator to prevent invalid thermostat tolerance value
  CLI/config_generator.py
Due: test_cli

Prompt for schedule rules after each device/sensor section. Improve user experience for large config files, previously had to remember nicknames for each instance to know where rules were being added.
  CLI/config_generator.py
Due: test_cli

Add fade rule prompt for supported device types
  CLI/config_generator.py
Due: test_cli

Improve comments, move function calls from init method to run_prompt, move nickname prompt to method shared by device and sensor prompts
  CLI/config_generator.py
Due: test_cli

Create pin_prompt and ip_address_prompt methods, used by both device and sensor prompts
  CLI/config_generator.py
Due: test_cli

Add unit tests for config generator
  CLI/tests/test_config_generator.py
Due: test_cli

Bug fix: Sensor-only configs no longer missing targets property, update unit tests
  CLI/tests/test_config_generator.py
  util/validation_constants.py
Due: test_frontend, test_cli, build, deploy

Add unit tests for custom IntRange and FloatRange validators
  CLI/tests/test_config_generator.py
Due: test_cli

Add unit tests for remaining uncovered lines (run_prompt method, failed validation conditionals in configure_device, configure_sensor)
  CLI/config_generator.py
  CLI/tests/test_config_generator.py
Due: test_cli

Path conditions:
  test_frontend: any of: frontend/**/*, util/**/*, Pipfile
  test_cli: any of: CLI/**/*, util/**/*, Pipfile
  build: any of: frontend/**/*, util/**/*, Pipfile
  deploy: any of: frontend/**/*, util/**/*, Pipfile
